.st1 {
	width: 350px;
	background-color: #0f0f0f;
	padding: 75px;
	font-family: montserrat;
	font-size: 11px;
	line-height: 15px;
	text-align: justify;
	text-transform: none;
	letter-spacing: 0px;
	color: #ccc;
	margin: 30px 0px;
}

.st1 h1 {
	font-family: montserrat;
	font-weight: 700;
	text-align: center;
	text-transform: lowercase;
}

.st1 h2 {
	font-family: montserrat;
	font-size: 11px;
	line-height: 15px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
	margin: 10px 0px 40px;
}

.st1 h3 {
	font-family: montserrat;
	font-size: 11px;
	line-height: 15px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
	margin: 30px 0px 5px;
}

.st1 b {
	font-family: montserrat;
	font-size: 9px;
	line-height: 15px;
	text-transform: uppercase;
	color: #9377a6;
}

#celestial_senshi .st1 b { 
	color: #ae9bbe; 
}

#celestial_templar .st1 b { 
	color: #aaadb5; 
}

#death_busters .st1 b { 
	color: #d45946; 
}

#planatary_senshi .st1 b { 
	color: #f3a1a1; 
}

#planatary_templar .st1 b { 
	color: #ce95b5; 
}

#civilian .st1 b {
	color: #a1cada;
}

#youma .st1 b {
	color: #f2c76b;
}

#app {
	width: 250px;
	border-bottom: 3px solid #161616;
	padding: 0px 0px 9px;
	font-family: montserrat;
	font-size: 7px;
	line-height: 11x;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px 50px 25px 50px;
}

#app img {
	width: 300px;
	margin: 0px -25px 25px;
}

.timeline {
	width: 350px;
	height: 100px;
	margin: 0px 10px 35px;
}

.timeline date {
	width: 100px;
	height: 100px;
	float: left;
}

.timeline year {
	display: block;
	padding: 30px 0px 4px;
	font-family: montserrat;
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.timeline month {
	display: block;
	width: 100px;
	padding: 0px 0px 30px;
	font-family: montserrat;
	font-size: 8px;
	font-weight: 700;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
}

.timeline detail {
	width: 225px;
	height: 100px;
	padding-right: 5px;
	overflow: auto;
	font-family: montserrat;
	font-size: 12px;
	line-height: 14px;
	text-align: justify;
	text-transform: lowercase;
	float: right;
}

.timeline detail::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.timeline detail::-webkit-scrollbar-track {
	background-color: #0f0f0f;
}

.timeline detail::-webkit-scrollbar-thumb {
background-color: #ccc;
}

.who {
	width: 320px;
	height: 50px;
	border-bottom: 1px solid #191919;
	padding-bottom: 10px;
	margin: 0px 10px 10px;
}

.who img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	float: left;
}

.who detail {
	width: 260px;
	height: 50px;
	font-family: montserrat;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	float: right;
}

.who h1 {
	font-family: montserrat;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: lowercase;
	margin: 0px;
}