@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Karla:400,400i,700,700i|Vesper+Libre:900');

.retro {
	width: 500px; 
	height: auto;
	background-color: #0f0f0f;
	box-sizing: border-box; 
	outline: 1px solid #161616;
	padding: 49px;
	font-family: muli;
	font-size: 12px;
	line-height: 16px; 
	text-align: justify;
	text-transform: lowercase;
	color: #f0f0f0;
	margin: 30px auto;       
}

.retro h1 {
	padding-bottom: 4px;
	font-family: vesper libre;
	font-size: 36px;
	font-weight: 900;
	line-height: 36px;
	text-align: center;
	text-transform: lowercase;
	color: #b05574;
}

.retro h2 {
	padding-bottom: 10px;
	font-family: karla;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #c9747a;
}

.retro b {
	font-weight: 700;
	color: #e29380;
}

.r_chara {
	width: 380px;
	height: 130px;
	background-color: #0f0f0f;
	box-size: border-box;
	outline: 1px solid #e6b2a0;
	padding: 9px;
	margin-top: 15px;
}

.r_image {
	width: 128px;
	height: 128px;
	border: 1px solid #ead1bf;
	margin-right: 10px;
	float: left;
}

.r_image img {
	width: 108px;
	height: 108px;
	filter: grayscale(1);
	margin: 10px;
}

.r_name {
	width: 240px;
	height: 26px;
	padding-bottom: 4px;
	font-family: vesper libre;
	font-size: 26px;
	font-weight: 900;
	line-height: 26px;
	text-align: left;
	text-transform: lowercase;
	color: #b05574;
	float: left;
}

.r_basic {
	width: 240px;
	height: 10px;
	padding-bottom: 10px;
	font-family: karla;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #c9747a;
	float: left;
}

.r_ship {
	width: 235px;
	height: 80px;
	padding-right: 5px;
	overflow: auto;	
	text-align: justify;
}

.r_ship b {
	font-weight: 700;
	color: #e29380;
}